<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-div">
      <div class="intro">
        <h1
          class="main-heading is-size-1 has-text-weight-bold is-capitalized has-text-centered"
        >
          I'm Aarat Prasad Chopra
        </h1>
        <h3
          class="main-desc is-size-4 has-text-centered is-capitalized has-text-weight-semibold"
        >
          Hi 👋🏻 i'm a full stack web developer who loves Software Development. I
          like to solve various types of problems and love how technology is
          evolving and want to be part of it!
        </h3>
      </div>

      <!-- <div class="about-me">
        <h2
          class="about-heading is-size-2 has-text-centered is-capitalized has-text-weight-semibold"
        >
          About Me
        </h2>
      </div> -->
    </div>
  </body>
</html>
